@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ======== Biến gốc (Light mode mặc định) ======== */
:root {
  --background: #F5F7FB;
  /* Nền nhẹ hơi ám xanh, không trắng tinh */
  --foreground: #0C111A;
  /* Chữ chính, tone xanh xám nhẹ, cân với dark foreground */
  --color-primary: #0088E9;
  /* Giữ nguyên – xanh hiện đại */
  --color-secondary: #006DCC;
  /* Hover / accent nhẹ */
  --muted: #697586;
  /* Màu chữ phụ, nhấn tinh tế */
  --border: #d5deeb8a;
  /* Viền nhẹ, dễ chịu hơn #D0D4DA */
  --surface: #FFFFFF;
  /* Nền card hoặc panel sáng nhưng giữ độ nổi */
  --font-sans: var(--font-ibm-plex);
}

/* ======== Dark mode ======== */
:root.dark {
  --background: #111022;
  /* nền chính - vẫn giữ */
  --foreground: #E4E6EB;
  /* chữ chính, sáng hơn 1 chút cho dễ đọc */
  --color-primary: #0088e9;
  /* màu nhấn giữ nguyên */
  --color-secondary: #00B8D9;
  /* xanh ngọc phụ - hợp với primary */
  --muted: #8A8FA3;
  /* màu chữ phụ, mô tả, placeholder */
  --border: #3C3C77;
  /* viền nhẹ, phân tách section */
  --surface: #12122B;
  /* nền card, navbar, panel */
}


.main {
  margin-top: calc(60px + env(safe-area-inset-top));
  margin-bottom: calc(60px + env(safe-area-inset-bottom));
}

header {
  padding-top: env(safe-area-inset-top);
}

footer {
  padding-bottom: env(safe-area-inset-bottom);
}

/* ======== Tailwind Theme Bindings ======== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --font-sans: var(--font-ibm-plex);
}

/* ======== Global Styles ======== */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex), sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

@keyframes hidden-splash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate-hidden-splash {
  animation: hidden-splash 1s ease-in-out 0.4s forwards;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}